body{
    font-size: 18px;
    font-weight: 300;
    background-color:green; 
    letter-spacing:2px;
    background:-webkit-linear-gradient(45deg,lightblue,pink); 
    background:linear-gradient(to right,lightblue,pink);
}
h2,p{
    font-family: 'Titillium Web', sans-serif;  
    font-weight: 400;
    color:blueviolet;
}
#customed-nav{
    background-color: darkblue!important;
    font-size: 1.3rem;
}
.navbar-brand:hover{
    color: rgb(209, 34, 139)!important;

}
#search-input{
    border-radius: 2rem 2rem;
}
.search-results{
    background-color:transparent;
    width:90%;
    height:90%;
}
#search-results-heading{
    color: darkgreen;
}
.container{
    background-color: transparent;
}
#searchbtn{
   
    border-radius: 2rem 2rem;
    position:relative;
    left:-20px;
    cursor: pointer;
}
.hero-info{

height:auto;
width:96%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 2rem 2rem;
border:1px solid grey;
margin:1px;
background-color: aliceblue;

}
 
.hero-details{
/* background-color: blueviolet; */
width:45%;
height:90%;

}
img{
    height:100%;
    width:100%;
    border-radius: 2rem 2rem ;
}
.hero-pic{
/* background-color: rgb(226, 43, 165); */
width:45%;
height:90%;
}
#likeable
{
    color:rgb(248, 12, 150)
}
