body{
    font-size: 18px;
    font-weight: 300;
    background-color:green; 
    letter-spacing:2px;
    background:-webkit-linear-gradient(45deg,lightblue,pink); 
    background:linear-gradient(to right,lightblue,pink);
}
/* common style classes */
.headings{
    font-family: 'Titillium Web', sans-serif;
    color:darkgreen;
}
/* navbar */
#customed-nav{
    background-color:darkblue !important;
    font-size: 1.6rem;
}
.navbar-brand:hover{
    color: rgb(222, 245, 14)!important;
    transform: scale(1.2);
    font-weight:500;
}
/* superhero image card */
.imagecard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:100%;
    height:80%;
    border-radius:2rem 2rem;
    box-shadow:1px 1px 15px 15px whitesmoke;
    padding:2px;
}
#superhero-pic{
    margin-left:39%;
}
.shero-iname{
    width:100%;
    height:100%;
}
.shero-image{
    background-color: blueviolet;
    width:80%;
    height:75%;
    margin-bottom: 5px;
    border-radius: 2rem 2rem;
}
.hero-container{
    border-top: 1px solid grey;
    padding: 6px 16px;
}
#hero-fullinfo{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color:aliceblue;
   border-radius: 2rem 2rem;
   height:110%;
   width:95vw;
}
/* text styles */
.api-data{
    line-height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color : #fff;
}
.key{
    width: 35%;  
}
.key p{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color:darkred;
}
.value{
    width: 50%;  
}
.value p{
    font-size: 18px;
    color:navy;
}